{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:yellow">
 <header id="cover" class="hoc clear">
    <div id="logo" class="fl_left">
      <!-- ################################################################################################ -->
      <h1><br><a href="/" style="font-size:60px;color:white">Abarama</a></h1>
      <!-- ################################################################################################ -->
    </div>
    <nav id="mainav" class="fl_right">
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="note"><a href="/">Home</a></li>

          <li><a class="note" href="{% url 'cartDetails' %}"><i class="fa fa-shopping-cart" style="font-size:14px">&nbsp;{{itc}}</i></a></li>



          <li><a href="accounts/logout"></a></li>

          <li><a href="accounts/register"></a></li>
          <li><a href="accounts/login"></a></li>

          <li><a class="drop" href="#">Category</a>
          <ul>
              <div class="category">
                  {% for i in ct %}

                  <b style="color:white">
               <a href={{i.get_url}}>{{i.name}}</a><br>
                  </b>
                  {% endfor %}
              </div>
          </ul>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </header>
{% block content %}
{% endblock %}

</body>

</html>